/* src/components/AnimatedGradient.module.css */

/* 1. Define the Keyframes */
@keyframes gradient-shift {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

/* 2. Define the isolated animation class */
.gradientAnimation {
	animation: gradient-shift 30s ease infinite;
}
